Q1. What is a database? Differentiate between SQL and NoSQL databases.

A database is an organized collection of data that allows users to store, retrieve, manage, and manipulate information efficiently. It ensures data consistency, security, and easy access. SQL database(Relational Database) is a structred database that stores the data in a structured format like tables and rows and columns. The data follows the strict schema. It uses the database management system like MySql, PostgreSQL.
NoSQL database(Non Relattional Database) is database that stores the data in JSON like documents instead of traditional tables. It doesn't have any scehma. It uses the database management system like MongoDB

Q2. What is DDL? Explain why CREATE, DROP, ALTER, and TRUNCATE are used with an example.

DDL (Data Definition Language) is a category of SQL commands used to define, modify, and manage database structures such as tables, schemas, indexes, and constraints.

CREATE is used to create the Database or table
eg: CREATE TABLE students (n1 VARCHAR(40), a1 INT);

DROP is used to delete the table
eg: DROP TABLE students;

ALERT is used to modify the tables (add/delete columns and change the datatype of columns)
ALTER TABLE students ADD age INT;

TRUNCATE is used to remove all the records from the table but keep its structure
TRUNCATE TABLE students;

Q3. What is DML? Explain INSERT, UPDATE, and DELETE with an example.

DML(Data Manipulation Language) is a category of SQL commands that modifies and delete the data in the database.

INSERT is used to insert new data in the table.
eg: INSERT into students (n1,a1,age) VALUES ("sheenam", 123, 43);

UPDATE IS used to update the existing data in the table
eg: UPDATE students SET age = 21 where n1 = "sheenam";

DELETE is used to delete the data in the table
eg:DELETE FROM students where age = 21;

Q4. What is DQL? Explain SELECT with an example.

DQL(Data Query Language) is a category of SQL commands that is used to retrieve the data from the database.
The SELECT statement is used to query data from a database table.

SELECT is used to select the columns from the table on the specific conditions

eg: SELECT * FROM students;

Q5. Explain Primary Key and Foreign Key.

A Primary Key (PK) is a column (or a set of columns) that uniquely identifies each row in a table.
A Foreign Key (FK) is a column that creates a relationship between two tables by referring to the Primary Key of another table.

Q6. Write a python code to connect MySQL to python. Explain the cursor() and execute() method.

In [ ]:
import mysql.connector
mydb = mysql.connector.Connect(host= "localhost", user= "user", password ="password")
mycursor = mydb.Cursor()
mycursor.execute("CREATE DATABASE school")
mycursor.close()
mydb.close()

#cursor() creates a database cursor to interact with MySQL.
#execute() runs SQL queries like CREATE, INSERT, SELECT etc.

In [ ]:
Q7. Give the order of execution of SQL clauses in an SQL query.

In [ ]:
FROM	Specifies the table(s) to retrieve data from
2️⃣	JOIN	Combines records from multiple tables
3️⃣	WHERE	Filters records based on conditions
4️⃣	GROUP BY	Groups records based on specified column(s)
5️⃣	HAVING	Filters grouped records
6️⃣	SELECT	Selects specific columns to display
7️⃣	DISTINCT	Removes duplicate rows
8️⃣	ORDER BY	Sorts the result set
9️⃣	LIMIT / OFFSET