Q1: Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
a = "sheenam"

In [2]:
b = ["kansal", 23, True, 4.0]

In [3]:
c = 2.0

In [4]:
d = (1, "abc", True)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

(i) str
(ii) str
(iii) list
(iv) int

Q3. Explain the use of the following operators using an example:
(i) /
(ii) %
(iii) //
(iv) **

In [6]:
#(i) / -> This is a division operator(float) divides the first operand by second. The response is in float.
a = 5/2
a

2.5

In [8]:
#(ii) % -> Modulus operator. Returns the remainder when the first operand is divided by second operand.
a = 7%3
a

1

In [9]:
#(iii) // -> Division (floor). Divides the first operand by second and returns the floor value
a = 9//4
a

2

In [11]:
#(iv) ** -> Power(exponent). Returns first raised to power second.
a = 2**3
a

8

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [12]:
a = [1, "sheenam", 2.0, True, 5.7j, 76, False, "kansal", 6.7, 10]
for i in a:
    print(i, type(i))

1 <class 'int'>
sheenam <class 'str'>
2.0 <class 'float'>
True <class 'bool'>
5.7j <class 'complex'>
76 <class 'int'>
False <class 'bool'>
kansal <class 'str'>
6.7 <class 'float'>
10 <class 'int'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [16]:
a = int(input())
b = int(input())
i = 0
while( a >= b and a%b == 0):
    a = a/b
    i+=1
print(i)

 24
 6

1

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [25]:
a = [34,23,21,56,2,46,86,9,97,43,82,12,32,11,10,65,72,98,78,68,45,31,90,22,21]
for i in a:
    if(i%3 ==0):
        print(f"{i} is divisible by 3 ") 
    else:
        print(f"{i} is not divisible by 3")

34 is not divisible by 3
23 is not divisible by 3
21 is divisible by 3
56 is not divisible by 3
2 is not divisible by 3
46 is not divisible by 3
86 is not divisible by 3
9 is divisible by 3
97 is not divisible by 3
43 is not divisible by 3
82 is not divisible by 3
12 is divisible by 3
32 is not divisible by 3
11 is not divisible by 3
10 is not divisible by 3
65 is not divisible by 3
72 is divisible by 3
98 is not divisible by 3
78 is divisible by 3
68 is not divisible by 3
45 is divisible by 3
31 is not divisible by 3
90 is divisible by 3
22 is not divisible by 3
21 is divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

In [27]:
#Mutability means if you are able to change the data at a particular index in a collection of object. For eg list 
a = [1, True, 45, 2.0]
a[2] = "sheenam"
a

[1, True, 'sheenam', 2.0]

In [28]:
#Immutability means when you are not able to change the data at a particular index. It gives err. for eg: strings
a = "sheenam"
a[2] = "u"
a

TypeError: 'str' object does not support item assignment