Q1. How do you comment code in Python? What are the different types of comments?

In [6]:
#This is how we comment in python.
'''This is also how we comment in python for multiple line comments'''
"""This is also how we comment in python for multiple line comments"""

'This is also how we comment in python for multiple line comments'

Q2. What are variables in Python? How do you declare and assign values to variables?

In [9]:
#A variable in a python is a symbolic name that is a reference or pointer to an object. Variable refers to the memory location that stores the value.
a = 2
#here a is a variable which stores the memory location of 2

Q3. How do you convert one data type to another in Python?

In [1]:
stri = "Sheenam"
list1 = list(stri)
list1

#Whenever you want to convert one data type to another you mention that data type before that variable like in above example

['S', 'h', 'e', 'e', 'n', 'a', 'm']

Q4. How do you write and execute a Python script from the command line?

You open the command line and type the word python followed by the path of your script. For eg python first_script.py

Q5. Given a list my_list = [1, 2, 3, 4, 5], write the code to slice the list and obtain the sub-list [2, 3].

In [3]:
my_list = [1,2,3,4,5]
my_list[1:3]

[2, 3]

Q6. What is a complex number in mathematics, and how is it represented in Python?

In [8]:
#Complex number is a number which have both real and imaginary part. for eg: 4.7i
#In python it is represented as
a = 4+7j
print(type(a))
print(a.real)
print(a.imag)

<class 'complex'>
4.0
7.0

Q7. What is the correct way to declare a variable named age and assign the value 25 to it?

In [10]:
age = 25
age
#we don't have to specify the datatype.

25

Q8. Declare a variable named price and assign the value 9.99 to it. What data type does this variable
belong to?

In [12]:
price = 9.99
print(type(price))

<class 'float'>

Q9. Create a variable named name and assign your full name to it as a string. How would you print the
value of this variable?

In [13]:
name = "Sheenam Kansal"
print(name)

Sheenam Kansal

Q10. Given the string "Hello, World!", extract the substring "World".

In [18]:
stri = "Hello, World!"
str1[7:12]

'World'

Q11. Create a variable named "is_student" and assign it a boolean value indicating whether you are
currently a student or not.

In [34]:
is_student = input()

if is_student == "True":
    print("You are a student")
elif is_student == "False":
    print("You are not a student")
else:
    print("Wrong Data")

 sheenam

Wrong Data